<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AP.TruckHunter.SecurOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AP.TruckHunter.SecurOS.Properties.Settings>
            <setting name="DataBase" serializeAs="String">
                <value>Host=192.168.225.165;Username=postgres;Password=postgres;Database=protocol</value>
            </setting>
            <setting name="Entries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>"Проезд №1":1:2</string>
                        <string>"Проезд №2":3:4</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RayType" serializeAs="String">
                <value>OPEN</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </AP.TruckHunter.SecurOS.Properties.Settings>
    </applicationSettings>
</configuration>